# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output directories
dist            # Vite's default output directory
dist-ssr        # For server-side rendering builds
*.local

# Vite-specific
vite.config.js.timestamp-*  # Vite config cache files
.vite               # Vite cache directory

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: Environment files
.env                # Environment variables
.env.*             # Other environment files (e.g., .env.local)
!.env.example      # Keep example env file if you have one